function reset_form() {
  $('#comment_username').val('');
  $('#comment_email').val('');
  $('#comment_comment').val('');
}

<% if !@comment_setting.should_validate? || current_user_and_administrator?(User.current_user) %>
  <% if comment.parent_id.nil? %>
    $('.comments').prepend("<%= j render partial: 'comments/comment', locals: { comment: comment } %>");
  <% else %>
    $("#comment-<%= comment.parent_id %>").after("<div class='nested_messages'><%= j render partial: 'comments/comment', locals: { comment: comment } %></div>");
  <% end %>
<% end %>

<%= render 'elements/alert' %>

if ($('#comment-count').length > 0){
  $('#comment-count').html("<%= @commentable.comments.validated.by_locale(@language).count %>")
}

<% if @comment_setting.should_validate? %>
  if ($('#comments-to-validate-count').length > 0){
    $('#comments-to-validate-count span').text("<%= Comment.to_validate.count %>");
  }
<% end %>

// Hide and reset reply form if any
if ($('.comments form.new_comment').length > 0){
  reset_form();
  $('.comments form.new_comment').hide();
}

$('form.new_comment .submit-loader').fadeOut();
reset_form();

NProgress.done();
