// Variables
is_reply = $('.reply-form').length > 0;
prefix = is_reply ? '.reply-form' : '.new_comment';
inputs = [
  prefix + ' #comment_username',
  prefix + ' #comment_email',
  prefix + ' #comment_comment'
];

reset_form(inputs);

// Hide and reset reply form if any
if (is_reply){
  $('.comments .reply-form').remove();
}
else {
  submit_btn_state('#new_comment.new_comment', "<%= flash[:success].html_safe %>");
}

// Inject comment to list
<% if !@comment_setting.should_validate? || current_user_and_administrator?(current_user) %>
  <% if comment.parent_id.nil? %>
    $('.comments').prepend("<%= j render partial: 'comments/comment', locals: { comment: comment } %>");
  <% else %>
    if($("#comment-<%= comment.parent_id %>").next().is('.nested_messages')) {
      $("#comment-<%= comment.parent_id %>").next().append("<%= j render partial: 'comments/comment', locals: { comment: comment } %>");
    }
    else {
      $("#comment-<%= comment.parent_id %>").after("<div class='nested_messages'><%= j render partial: 'comments/comment', locals: { comment: comment } %></div>");
    }
  <% end %>
<% end %>

<% unless @comment_setting.should_validate? %>
  // Update number of comments for a Blog post
  <%= render 'blogs/sidebar/comment_count' %>

  // Prepend new added comment to 'Last comments' sidebar section
  $last_comments = $('#last-comments-container')
  if($last_comments.length > 0) {
    $last_comments.prepend("<%= j render partial: 'blogs/sidebar/last_comments/row', locals: { comment: comment } %>");
  }
<% end %>
